* {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
}

body {
  background-color: #333533;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 20% auto 0;
  padding: 30px 0px;
  background-color: #E8EDDF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  border: 4px inset #6E7271;
}

.pass-generator {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 6px dashed black;
}

.pass-generator h1,
.pass-check h1 {
  font-size: 40px;
  margin-bottom: 36px;
  padding-bottom: 13px;
  color: #242423;
  border-bottom: 3px solid black;
}

.display {
  padding-bottom: 25px;
}

.display input {
  height: 40px;
  width: 270px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #242423;
  border-radius: 5px;
}

.display button {
  width: 120px;
  height: 44px;
  border: 2px solid #242423;
  border-radius: 5px;
  background-color: #F5CB5C;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 3px;
  cursor: pointer;
  transition: color 0.15s;
}

.display button:hover {
  background-color: #242423;
  color: #F5CB5C;
}

.pass-check h2 {
  font-size: 8px;
  margin-bottom: 4px;
}

.display2 input {
  width: 250px;
  height: 30px;
  padding: 0px 5px;
  border: 2px solid #242423;
  border-radius: 5px;
}

.display2 p {
  font-size: 15px;
  font-weight: 700;
  margin-top: 4px;
  display: none;
}